@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 23, 23, 23;
  --background-end-rgb: 17, 24, 39;
  --primary-color: 59, 130, 246;
  --secondary-color: 236, 72, 153;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgb(var(--primary-color));
  color: white;
}